body {
    background:#f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.fas {
    color: white;
}

.content {
    padding-top: 100px;
    margin-bottom: 100px;
}

.navbar.scrolled {
    background: rgb(222, 192, 222);
    transition: 500ms;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: rgb(233, 225, 225);
}

#mainNavbar .nav-link:hover {
    color: rgba(223, 23, 23, 0.603);
}

#mainNavbar .navbar-brand {
    color: rgba(223, 23, 23, 0.603);
    font-size: 1.5rem;
}

#headingGroup span {
    color: red;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem; 
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem; 
    }
}


